h1 {
  text-align: center;
  font-size: 3rem;
}

aside {
  display: flex;
  width: 30%;
}

.infoimg {
  display: flex;
  align-items: center;
  justify-content: center;
}

.infoimg > aside > img {
  width: 100%;
  height: 80%;
}

h1,
h2,
strong,
p {
  font-family: "Permanent Marker", cursive !important;
  color: white;
  gap: 0.5rem;
}

strong {
  display: flex;
  flex-direction: column;
  height: fit-content;
  text-decoration: underline;
}

.infoimg {
  display: flex;
  gap: 1rem;
  font-size: 2rem;
  height: calc(100vh - 10rem);
  padding: 1rem;
}

.infotext {
  display: flex;
  flex-direction: column;
  max-height: 80%;
  overflow-y: scroll;
  gap: 0.2rem;
  width: 70%;
}

.infotext > div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-bottom: 2px solid white;
}

.infotext > div:last-of-type {
  border-bottom: none;
}

table {
  display: flex;
  flex-direction: column;
  max-height: 80%;
  overflow-y: scroll;
  gap: 0.2rem;
  max-width: 70%;
  border: 1px solid white;
  border-radius: 1.5rem;
}

thead {
  display: flex;
  background-color: white;
}

thead > tr > th {
  color: #000;
  text-align: center;
}

tr {
  display: flex;
  width: 100%;
}

thead > tr > th:first-of-type,
tbody > tr > td:first-of-type {
  min-width: 30%;
}

thead > tr > th:last-of-type,
tbody > tr > td:last-of-type {
  min-width: 70%;
}

tbody > tr:last-of-type,
tbody > tr > td:last-of-type {
  height: 100%;
}

tbody {
  height: 100%;
}

td,
th {
  font-family: "Permanent Marker", cursive !important;
  color: white;
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.name,
.age {
  font-size: 1.5rem;
}

@media screen and (max-width: 800px) {
  aside {
    align-items: end;
  }
  .infoimg {
    flex-direction: column;
  }
  .infotext {
    width: 100%;
    max-width: 100%;
    min-height: 80%;
  }

  h2,
  strong {
    font-size: 1.5rem;
  }

  p {
    font-size: 1.25rem;
  }
}
