.mortes {
  width: 100%;
  min-height: calc(100vh - 10rem);
  display: grid;
  grid-template-columns: 20vw 60vw 20vw;
  grid-template-rows: 0.2fr 1fr 0.2fr;
  grid-template-areas:
    ". mortes1 ."
    "mortes2 form mortes3"
    ". mortes4 .";
}

.mortes > div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.imgMortes > img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 100%;
  opacity: 100%;
  transition: all 1s ease-in-out;
}

.mortes2,
.mortes3 {
  flex-direction: column;
}

.mortes1 {
  height: 20vh;
  grid-area: mortes1;
}
.mortes2 {
  grid-area: mortes2;
  flex-direction: column;
}
.mortes3 {
  grid-area: mortes3;
}
.mortes4 {
  height: 20vh;
  grid-area: mortes4;
}

.form {
  grid-area: form;
  height: fit-content;
}

form {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border-radius: 3rem;
}

form > h1 {
  font-family: "Permanent Marker", cursive !important;
  text-align: center;
  width: 80%;
  color: black;
  font-size: 1.6rem;
}

.input {
  width: 80%;
}

.input,
select,
option,
input {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem !important;
  font-weight: bolder !important;
}

select,
input {
  height: 3.5rem;
  width: 100%;
  padding: 0.2rem 1rem;
  border: 3px solid #000;
  border-radius: 0.5rem;
}

.confirm,
.clean {
  color: white;
}

.btn {
  padding: 0 !important;
}

.confirm {
  background-color: #0f1fb8;
  border-color: #0f1fb8 !important;
}

.clean {
  background-color: #b80f0f;
  border-color: #b80f0f !important;
}

.confirm:hover,
.clean:hover {
  background-color: white !important;
}

.confirm:hover {
  color: #0f1fb8 !important;
}

.clean:hover {
  color: #b80f0f !important;
}

.death {
  opacity: 0% !important;
}

.hide {
  display: none !important;
}

@media screen and (max-width: 800px) {
  form {
    height: 40vh;
  }

  form > h1 {
    font-size: 1rem;
  }

  .input,
  select,
  option,
  input {
    font-size: 1rem !important;
  }

  select,
  input {
    height: 2rem;
  }

  .mortes {
    grid-template-columns: 20vw 20vw 20vw 20vw;
    grid-template-rows: 1fr;
    grid-template-areas:
      "mortes1 mortes2 mortes3 mortes4"
      "form form form form";
    gap: 0 1rem;
    justify-content: center;
  }
  .imgMortes {
    width: 100%;
  }
  .mortes1,
  .mortes4 {
    flex-direction: column;
    height: 100%;
  }
  .imgMortes > img {
    max-width: 100%;
  }
  .btn {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
  }
}
