.bodyRules {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.rules {
  width: 700px;
  height: 100vh;
  background-color: #13161b;
  padding: 3rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rules > div {
  width: 100%;
  height: 100%;
  border: 0.5rem solid white;
}

.rules > img {
  position: absolute;
}

.topo,
.bottom {
  background-color: #13161b;
}

.topo {
  top: 0;
}

.bottom {
  bottom: 0;
}

.cantoTopLeft {
  top: 3.5rem;
  left: 3.5rem;
}

.cantoTopRight {
  top: 3.5rem;
  right: 3.5rem;
  rotate: 90deg;
}

.cantoBottomLeft {
  bottom: 3.5rem;
  left: 3.5rem;
  rotate: 270deg;
}

.cantoBottomRight {
  bottom: 3.5rem;
  right: 3.5rem;
  rotate: 180deg;
}

@media screen and (max-width: 1200px) {
  .bodyRules {
    grid-template-columns: 0 1fr 0;
  }
  .rules {
    background-size: contain;
  }
}
